@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(179, 191, 181) url("bg.jpg") center center no-repeat fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
}

.bg_blur {
  backdrop-filter: blur(5px);
}

.container {
  background-color: #fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  color: #07131b;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  padding: 4rem;
  text-align: center;
}

.box-modal-title {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.box-modal-btn {
  background-color: rgb(159, 201, 205);
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 1rem;
}

.box-modal-btn:hover {
  background-color: rgb(120, 165, 168);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: none;
  background-color: #fff;
  color: #07131b;
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  padding: 4rem;
  text-align: center;
}

.modal-title {
  text-transform: uppercase;
}

.modal-btn-close {
  border: none;
  cursor: pointer;
}

.modal-btn-close {
  background-color: #fff;
  border: none;
  position: absolute;
  top: -10px;
  right: 10px;
}

.closed {
  display: block;
}
