@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
}

/* Styles content box */
.box {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  color: rgb(7, 19, 27);
  border-radius: 5px;
  width: 600px;
  max-width: 100%;
  padding: 4rem;
  text-align: center;
}

.box-title {
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.box-btn {
  background-color: #403b4a;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}

.box-btn:hover {
  background-color: rgb(135, 125, 153);
}

/* Styles modal  */
.modal {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(7, 20, 28);
  padding: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  width: 600px;
  text-align: center;
}

.open {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-title {
  text-transform: uppercase;
}

.modal-btn {
  border: none;
  background-color: #403b4a;
  position: relative;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: -28px;
  right: 5px;
  transition: all 0.3s;
}

.modal-btn__line {
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 25px;
  height: 4px;
}

.modal-btn__line:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-btn:hover {
  transform: rotate(90deg);
  background-color: rgb(135, 125, 153);
}
